<div class="navbar">
    
    <div class="navbarUp">

      <div id="menuToggle">

        <input id="menuInput" type="checkbox" />


        <span></span>
        <span></span>
        <span></span>


        <ul id="menu">
          {{#each userProjects}}
          <li class="menuClient"><a href="/projects/{{_id}}">{{firstName}} {{lastName}}</a></li>
          <!--<a href="#"><li class="menuRoom">Room 1</li></a>-->

          <div id="signoutBtn" class="editDeleteBtn">
            <img class="editIcon" src="/images/signout.svg" alt="">
            <a id="signout" class="editLink" href="/signout">Signout</a>

          </div>
         {{/each}}

        </ul>
        
      </div>
  

      <div class="smallLogo">
        <a href="/projects">
          <span class="smallLogo1">Renov'</span>
          <span class="smallLogo2">Master</span>
        </a>
      </div>

      {{#if userInSession.profilePic}}
        <div class="navProfilePicContainer">
          <img class="navProfilePic" src="{{userInSession.profilePic}}" alt="profilePic"/>
        </div>
      {{else}}
      
        <a href="/profile">
        <img
          class="navProfilePic"
          src="/images/navDefautUserProfile.svg"
          alt="defautUserProfile"
        /></a>
      
      {{/if}}

      
    </div>
  </div>