<div class="loginSignup">
  {{>nav}}

  <div class="loginSignupFormContainer">
    <form id="signupForm" class="longForm" action="/profile/edit" method="post">
      <label class="formLabel">User name:
        <input class="formInput" type="text" name="fullName" value="{{userInSession.fullName}}" />
      </label>
      <label class="formLabel">Company name:
        <input class="formInput" type="text" name="companyName" value="{{userInSession.companyName}}" />
      </label>
      <label class="formLabel">Company registration number :
        <input class="formInput" type="text" name="companyRegistrationNb" value="{{userInSession.companyRegistrationNb}}" />
      </label>
      <label class="formLabel">Company address:
        <input class="formInput" type="text" name="companyAddress" value="{{userInSession.companyAddress}}" />
      </label>
      <label class="formLabel">Company post code :
        <input class="formInput" type="text" name="companyPostCode" value="{{userInSession.companyPostCode}}" />
      </label>
      <label class="formLabel">Email :
        <input class="formInput" type="email" name="email" value="{{userInSession.email}}" />
      </label>
      <label class="formLabel">Phone number :
        <input class="formInput" type="text" name="phoneNb" value="{{userInSession.phoneNb}}" />
      </label>
      <label class="formLabel">Password* :
        <input class="formInput" type="password" name="password" />
      </label>

      <button id="signupBtn" class="roundGradientBtn" type="submit">Save</button>
      <p>{{#if errorMessage}}
          {{errorMessage}}
        {{/if}}</p>
    </form>

  </div>

</div>