<div class="display">
  {{>nav}}
  

  {{! <div class="navmenu hidden"> }}

  {{! </div> }}
  
  <div id="profile">
    <a id="profileBackLink" class="backLink" href="/projects"><img class="backLinkIcon" src="/images/backLink.svg" alt="">Back to project list</a>
   
    <div id="" >
        <!-- Mise en page si une image a déjà été uploadée -->
        
          {{!-- {{#each this.profilePic}} --}}
          {{#if userInSession.profilePic}}
          <div class="profilePicContainer">
            <img class="profilePic" src="{{userInSession.profilePic}}" alt="profilePic"/>
            <a class="deletePhoto" href="/profile/photo/del"><img src="/images/deleteGray.svg" alt=""></a>
          </div>

          <!-- Link to modify the picture once a picture has been uploaded --> 
          <form action="/profile/photo/update" method="post" enctype="multipart/form-data" class="addProfilePic"> 
              <label class="editPhoto">
                  <div >
                      <div id="editProject" class="editDeleteBtn">
                          <img class="editIcon" src="../images/edit.svg" alt="editIcon">
                          <input type="file" name="profilePic" class="addProfilePicWindow" />  
                      </div>
                  </div>
              </label>
          </form>
          {{else}}
          <div class="profilePicContainer">
            <img class="profilePic" src="/images/navDefautUserProfile.svg" alt="profilePic"/>
          </div>

          <!-- Link to upload the picture once --> 
          <form action="/profile/photo" method="post" enctype="multipart/form-data" class="addProfilePic"> 
              <label class="editPhoto">
                  <div >
                      <div id="editProject" class="editDeleteBtn">
                          <img class="editIcon" src="../images/edit.svg" alt="editIcon">
                          <input type="file" name="profilePic" class="addProfilePicWindow" />  
                      </div>
                  </div>
              </label>
              
              <p>{{#if errorMessage}}
                  {{errorMessage}}
                  {{/if}}</p>
            </form>
          
          {{/if}}
        
    </div>

          
        
   
    {{!-- <div class="profilePicContainer"><img class="profilePic" src="../images/defautUserProfile.svg" alt="profilePic" /></div> --}}
    
    
    
    <div id="profileMain">
      <div id="profileContainer">
        <div class="profileItem">
          <h3>User name:</h3>
          <p class="vignette">{{userInSession.fullName}}</p>
        </div>

        <div class="profileItem">
          <h3>Company name:</h3>
          <p class="vignette">{{userInSession.companyName}}</p>

        </div>

        <div class="profileItem">
          <h3>Company registration number : </h3>
          <p class="vignette">{{userInSession.companyRegistrationNb}}</p>

        </div>

        <div class="profileItem">
          <h3>Company address: </h3>
          <p class="vignette">{{userInSession.companyAddress}}</p>

        </div>

        <div class="profileItem">
          <h3>Company post code : </h3>
          <p class="vignette">{{userInSession.companyPostCode}}</p>

        </div>

        <div class="profileItem">
          <h3>Phone number :</h3>
          <p class="vignette">{{userInSession.phoneNb}}</p>

        </div>

        <div class="profileItem">
          <h3>Email :</h3>
          <p class="vignette">{{userInSession.email}}</p>

        </div>

        <div class="profileItem">
          <h3>Password :</h3>
          <p class="vignette">*********</p>

        </div>

      </div>
    </div>

    <div id="editDeleteProfile">
      <div id="editProfile" class="editDeleteBtn">
        <img class="editIcon" src="../images/edit.svg" alt="editIcon">
        <a class="editLink" href="/profile/edit">Edit Profile</a>
      </div>

      {{!-- <div id="deleteProfile" class="editDeleteBtn">
        <img class="deleteIcon" src="../images/delete.svg" alt="deleteIcon">
        <a class="deleteLink" href="#">Delete Account</a>
      </div> --}}

    </div>
    
  </div>

</div>