<div class="display">
  {{>nav}}
  

  {{! <div class="navmenu hidden"> }}

  {{! </div> }}
  
  <div id="profile">
    <div id="profileMain">
      <img class="profilePic" src="../images/defautUserProfile.svg" alt="profilePic" />
      <div id="profileContainer">
        <div class="profileItem">
          <h3>Full name:</h3>
          <p class="vignette">{{userInSession.fullName}}</p>
        </div>

        <div class="profileItem">
          <h3>Company name:</h3>
          <p class="vignette">{{userInSession.companyName}}</p>

        </div>

        <div class="profileItem">
          <h3>Company registration number : </h3>
          <p class="vignette">{{userInSession.companyRegistrationNb}}</p>

        </div>

        <div class="profileItem">
          <h3>Company address: </h3>
          <p class="vignette">{{userInSession.companyAddress}}</p>

        </div>

        <div class="profileItem">
          <h3>Company post code : </h3>
          <p class="vignette">{{userInSession.companyPostCode}}</p>

        </div>

        <div class="profileItem">
          <h3>Phone number :</h3>
          <p class="vignette">{{userInSession.phoneNb}}</p>

        </div>

        <div class="profileItem">
          <h3>Email :</h3>
          <p class="vignette">{{userInSession.email}}</p>

        </div>

        <div class="profileItem">
          <h3>Password :</h3>
          <p class="vignette">*********</p>

        </div>

      </div>

      <div id="editDeleteProfile">
          <div id="editProfile" class="editDeleteBtn">
            <img class="editIcon" src="../images/edit.svg" alt="editIcon">
            <a class="editLink" href="/profile/edit">Edit Profile</a>
          </div>

           <div id="deleteProfile" class="editDeleteBtn">
            <img class="deleteIcon" src="../images/delete.svg" alt="deleteIcon">
            <a class="deleteLink" href="#">Delete Account</a>
           </div>

        </div>

    </div>

  </div>

</div>